:root {
	--main-color: #b88e2f;
	--accent-color: #8672ff;
	--white: #fff;
	--text-color: #3a3a3a;
	--black: #000;
	--input-color: #f3f0ff;

	// variables for fonts size
	--font-size-xsmall: 12px;
	--font-size-small: 14px;
	--font-size-medium: 16px;
	--font-size-large: 18px;
	--font-size-xlarge: 22px;
	--font-size-xxlarge: 35px;
	--font-size-xxxlarge: 42px;
}
