@import "customs";
@import "global-rules";
@import "mixin";
@import "vars";
@import "index";
@import "register";
@import "login";
@import "header";
.error {
	color: red;
	font-size: 0.9em;
	display: none;
}
